/* safe area settings */
:root{
	--left:0;
	--right:0;
	--top:0;
	--bottom:0;
}
@supports(top:env(--safe-area-inset-top)) {
	:root{
		--left:env(safe-area-inset-left);
		--right:env(safe-area-inset-right);
		--top:env(safe-area-inset-top);
		--bottom:env(safe-area-inset-bottom);
	}
}

html{
	background-color:var(--background);
	transition:background-color 0.1s ease-in-out;
	--header-height:calc( 110px + var(--top) );
}
html.hide-bar{
	--header-height:calc( 60px + var(--top) );
}
@media (min-height:900px) {
	html{
		--header-height:110px;
	}
	html.hide-bar{
		--header-height:60px;
	}
}
*{
	user-select:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	touch-action:none;
	cursor:default;
	font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight:300;
}
html,body{
	overflow:hidden;
	touch-action:none;
}

#header{
	transition:background-color 0.1s ease-in-out;
	background-color:var(--bg-transparent);
	position:fixed;
	z-index:2;
	left:0;
	right:0;
	top:0;
	height:var(--header-height);
}
@supports (backdrop-filter:blur(10px)) {
	#header{
		background-color:transparent;
		backdrop-filter:blur(10px);
	}
}
@supports (-webkit-backdrop-filter:blur(10px)) {
	#header{
		background-color:transparent;
		-webkit-backdrop-filter:blur(10px);
	}
}
@media (min-height:900px) {
	#header{
		top:calc( 50% - 400px );
	}
}
#header>div{
	position:absolute;
	left:var(--left);
	right:var(--right);
	top:var(--top);
	bottom:0;
}
@media (min-width:900px) {
	#header>div{
		left:calc( 50% - var(--left) - 400px );
		right:calc( 50% - var(--right) - 400px );
	}
}

form{
	position:absolute;
	left:60px;
	right:0;
	top:0;
	height:60px;
}
input[type="text"]{
	color:var(--foreground);
	transition:color 0.1s ease-in-out,caret-color 0.1s ease-in-out,background-color 0.1s ease-in-out;
	text-align:left;
	cursor:text;
	border:none;
	outline:none;
	border-radius:5px;
	background-color:var(--search-field);
	caret-color:var(--caret);
	box-sizing:border-box;
	width:calc( 100% - 10px );
	height:calc( 100% - 10px );
	margin:5px;
	padding:0 10px;
	font-size:30px;
	user-select:text;
	-webkit-user-select:text;
	-moz-user-select:text;
	-webkit-tap-highlight-color:transparent;
}
input[type="text"]:disabled{
	cursor:not-allowed;
}
input[type="text"]::placeholder{
	color:var(--placeholder);
	transition:color 0.1s ease-in-out;
}
input[type="text"]::selection{
	background-color:var(--selection);
	transition:background-color 0.1s ease-in-out;
}
a{
	transition:color 0.1s ease-in-out;
	color:var(--foreground);
	text-decoration:none;
	font-size:40px;
	background-image:var(--image);
	background-size:40px 40px;
	background-position:center center;
	background-repeat:no-repeat;
	cursor:pointer;
	position:absolute;
	display:flex;
	align-items:center;
	justify-content:center;
	left:0;
	top:0;
	width:60px;
	height:60px;
	-webkit-tap-highlight-color:transparent;
}
#bottomBar{
	position:absolute;
	overflow-x:scroll;
	overflow-y:hidden;
	left:0;
	right:0;
	bottom:0;
	height:50px;
	box-sizing:border-box;
	display:inline-flex;
	align-items:center;
	white-space:nowrap;
	touch-action:pan-x;
}
.hide-bar #bottomBar{
	visibility:hidden;
}
#bottomBar>div{
	transition:color 0.1s ease-in-out,border 0.1s ease-in-out,background-color 0.1s ease-in-out;
	color:var(--foreground);
	background-color:var(--bg-transparent);
	font-size:20px;
	border:solid var(--button-border) 1px;
	border-radius:10px;
	cursor:pointer;
	margin:0 5px;
	padding:3px 5px;
	display:inline;
	box-sizing:border-box;
	touch-action:pan-x;
	-webkit-tap-highlight-color:transparent;
}
#bottomBar>div.selected{
	background-color:var(--button-selected);
}
#bottomBar>div:first-child{
	margin-left:20px;
}
#bottomBar::after{
	content:" ";
	border:solid transparent 1px;
}

.list,#message{
	position:fixed;
	z-index:1;
	left:var(--left);
	right:var(--right);
}
@media (min-width:900px) {
	.list,#message{
		left:calc( 50% - var(--left) - 400px );
		right:calc( 50% - var(--right) - 400px );
	}
}

.list{
	overflow-x:hidden;
	overflow-y:scroll;
	top:0;
	bottom:0;
	padding-top:var(--header-height);
	touch-action:pan-y;
	-webkit-overflow-scrolling:touch;
}
@media (min-height:900px) {
	.list{
		top:calc( 50% - 400px );
		bottom:calc( 50% - 400px );
	}
}
.hide-bar .list{
	padding-top:calc( 60px + var(--top) );
}
.list.hidden{
	visibility:hidden;
}
.list>div{
	color:var(--foreground);
	background-color:var(--list-item);
	transition:color 0.1s ease-in-out,background-color 0.1s ease-in-out;
	margin:10px 20px;
	border-radius:5px;
	position:relative;
	overflow:hidden;
	height:50px;
	-webkit-tap-highlight-color:transparent;
}
.list>div,.list>div>div{
	cursor:pointer;
	touch-action:pan-y;
}
.list>div.selected{
	background-color:var(--list-item-selected);
}
.list>div:last-child{
	margin-bottom:calc( 10px + var(--bottom) );
}
.list>div>div,.list>div>div::before{
	position:absolute;
	display:flex;
	align-items:center;
	top:0;
	bottom:0;
}
.list>div>div{
	font-size:30px;
	white-space:nowrap;
	left:50px;
	right:0;
}
.list>div>div::before{
	transition:color 0.1s ease-in-out;
	display:flex;
	left:-50px;
	width:50px;
	content:" " var(--char);
	justify-content:center;
	align-items:center;
	color:var(--foreground);
	font-size:30px;
	font-weight:500;
	background-image:var(--image);
	background-size:30px 30px;
	background-position:center center;
	background-repeat:no-repeat;
}
.list>div.small>div::before{
	font-size:20px;
}

#message{
	padding:10px;
	box-sizing:border-box;
	display:flex;
	justify-content:center;
	align-items:center;
	top:var(--header-height);
	bottom:var(--bottom);
}
@media (min-height:900px) {
	#message{
		top:calc( 50% - 400px + var(--header-height) );
		bottom:calc( 50% - 400px );
	}
}
#message>div{
	color:var(--message);
	font-size:24px;
	text-align:center;
	word-break:normal;
	overflow-wrap:break-word;
	white-space:normal;
}

/* for scrolling */
#bottomBar,.list{
	-ms-overflow-style: none;
	scrollbar-width: none;
}
#bottomBar::-webkit-scrollbar,.list::-webkit-scrollbar{
	display:none;
}